<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <script type="text/javascript">
        function check(){
            if(form1.userPwd1.value==''){
                alert('原密码为空');
                return false;
            }
            if(form1.userPwd2.value==''){
                alert('新密码为空');
                return false;
            }
            if(form1.userPwd3.value==''){
                alert('确认密码为空');
                return false;
            }
            if(form1.userPwd3.value!=form1.userPwd2.value){
                alert('两次密码确认不一致');
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<form id="form1" action="/user/editpassword" method="post">
    <table>
        <tr>
            <td>用户名:</td>
            <td><input type="text"  name="userName" id="userName" value="zhangyu"></td>
        </tr>
        <tr>
            <td>原密码:</td>
            <td><input type="password"  name="userPwd1" id="userPwd1" value="123456"></td>
        </tr>
        <tr>
            <td>新密码:</td>
            <td><input type="password"  name="userPwd2" id="userPwd2" value="123456"></td>
        </tr>
        </tr>
        <tr>
            <td>新密码确认:</td>
            <td><input type="password"  name="userPwd3" id="userPwd3" value="123456"></td>
        </tr>
        <tr>
            <td colspan="4"><input type="submit" onclick="return check()" value="登陆"></td>
        </tr>
    </table>
</form>
</body>
</html>